@model Fakultet.Models.Predmet

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>Predmet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            Nastavnik
        </dt>

        <dd>
            @Model.Nastavnik.Prezime @Model.Nastavnik.Ime
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.Naziv }) |
    @Html.ActionLink("Nazad", "Index")
</p>
